<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="2" name="Task 2">
    <test name="get/post api test">
        <parameter name="postNumber" value="99"/>
        <parameter name="userNumber" value="5"/>
        <parameter name="emptyPostNumber" value="150"/>
        <classes>
            <class name="ResApiTestGETPOST"/>
        </classes>
    </test>
</suite>